USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountSetEmail]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[saAccountSetEmail]
	@accountid INT, 
	@email VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
		
	EXEC dbo.saAccountUpdate
		@accountid,
	    @email
	

END


GO
