USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[robotReturn]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--!!!! OBSOLETE !!!!!! 

CREATE PROCEDURE [dbo].[robotReturn] 
	
	@characterID int,
	@robotEID bigint
	
AS
BEGIN
	
	SET NOCOUNT ON;
	
	IF (SELECT COUNT(*) FROM characters WHERE characterid=@characterID) =0
	BEGIN
		SELECT N'no character was found with this characterID'
		return
	END
		
	DECLARE @rootEID BIGINT, @baseEID BIGINT, @publicContainer bigint
	SET @rootEID = (SELECT rootEID FROM characters WHERE characterid=@characterID)
	
	SET @baseEID = (SELECT baseeid FROM characters WHERE characterid=@characterID)
	
	SET @publicContainer = (SELECT eid FROM entities WHERE definition=166 AND parent=@baseEID)
	
	UPDATE entities SET parent=@publicContainer WHERE eid=@robotEID
	DELETE dbo.entitytrash WHERE eid=@robotEID

	SELECT N'robot returned'
END



GO
