USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[accountAddCredit]    Script Date: 11.05.2026 21:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[accountAddCredit]
	
	@accountId int, 
	@credit int
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE accounts SET credit=credit+@credit WHERE accountID=@accountId;
	
	
	


END
GO
