USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_GMOnlineTimes]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_GMOnlineTimes] 
AS
BEGIN
	SET NOCOUNT ON;

SELECT a.accountid,a.firstName,a.lastName,aot.loggedin,aot.loggedout

 FROM dbo.accountonlinetime aot JOIN accounts a on aot.accountid=a.accountID   WHERE aot.accountid IN 
(SELECT DISTINCT accountid FROM characters WHERE nick LIKE 'GM%' AND active=1)
AND loggedin > DATEADD(day,-40,  getdate())

ORDER BY loggedin asc

END
GO
