USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[reimbursepbs]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reimbursepbs] 
	
AS
BEGIN
	
	SET NOCOUNT ON;





DECLARE @characterID INT,@corporationEid bigint, @amount FLOAT, @factor FLOAT, @total FLOAT


DECLARE TableCursor1 CURSOR FOR
      SELECT corporationEID,-1*amount FROM dbo.corporationtransactions WHERE definition IN (4568,5180,4569,5179,4567,4566,4732) AND transactiontype=1

DECLARE TableCursor2 CURSOR FOR      
SELECT corporationEID,-1*amount FROM dbo.corporationtransactions WHERE definition IN (4658, 5187) AND transactiontype=1

DECLARE TableCursor3 CURSOR FOR      
SELECT characterid,-1*amount FROM dbo.charactertransactions WHERE definition IN (4568,5180,4569,5179,4567,4566,4732) AND transactiontype=1

DECLARE TableCursor4 CURSOR FOR      
SELECT characterid,-1*amount FROM dbo.charactertransactions WHERE definition IN (4658, 5187) AND transactiontype=1


SET @total= 0.0

-------------------------------------

SET @factor= 0.8
OPEN TableCursor1

FETCH NEXT FROM TableCursor1 INTO @corporationEid,@amount
WHILE @@FETCH_STATUS = 0
BEGIN
		UPDATE corporations SET wallet=wallet + (@amount * @factor) WHERE eid=@corporationEid
		SET @total = @total + (@amount * @factor)

		FETCH NEXT FROM TableCursor1 INTO @corporationEid,@amount
END

CLOSE TableCursor1

DEALLOCATE TableCursor1

------------------------------------

SET @factor = 0.8
OPEN TableCursor2

FETCH NEXT FROM TableCursor2 INTO @corporationEid,@amount
WHILE @@FETCH_STATUS = 0
BEGIN
		UPDATE corporations SET wallet=wallet + (@amount * @factor) WHERE eid=@corporationEid
		SET @total = @total + (@amount * @factor)

		FETCH NEXT FROM TableCursor2 INTO @corporationEid,@amount
END

CLOSE TableCursor2

DEALLOCATE TableCursor2

--------------------------------------

SET @factor= 0.8
OPEN TableCursor3

FETCH NEXT FROM TableCursor3 INTO @characterID,@amount
WHILE @@FETCH_STATUS = 0
BEGIN
		UPDATE characters SET credit=credit + (@amount * @factor) WHERE characterID=@characterID
		SET @total = @total + (@amount * @factor)

		FETCH NEXT FROM TableCursor3 INTO @characterID,@amount
END

CLOSE TableCursor3

DEALLOCATE TableCursor3


--------------------------------------

SET @factor= 0.8
OPEN TableCursor4

FETCH NEXT FROM TableCursor4 INTO @characterID,@amount
WHILE @@FETCH_STATUS = 0
BEGIN
		UPDATE characters SET credit=credit + (@amount * @factor) WHERE characterID=@characterID
		SET @total = @total + (@amount * @factor)

		FETCH NEXT FROM TableCursor4 INTO @characterID,@amount
END

CLOSE TableCursor4

DEALLOCATE TableCursor4

   
END
GO
