USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_noralgisseedbuy]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_noralgisseedbuy] 
	@fromDate datetime
AS
BEGIN
	
	
	SET NOCOUNT ON;

SELECT t.quantity,t.amount,(SELECT nick FROM characters WHERE characterid=t.characterid) FROM dbo.charactertransactions t 
WHERE t.definition=2908 AND (t.transactiondate BETWEEN @fromDate AND GETDATE())

ORDER BY t.quantity desc
    
	
END
GO
