USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[runScriptSingleUser]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[runScriptSingleUser]
	@targetDB varchar(128) = 'default',
	@scriptText nvarchar(max)
	
AS
BEGIN
declare @strSingle varchar(512),  @strMulti varchar(512), @message varchar(2048)

if (@targetDB = 'default')
begin
	set @targetDB = DB_NAME();
end

SET @strSingle = 'ALTER DATABASE '+@targetDB+' SET SINGLE_USER WITH ROLLBACK IMMEDIATE;'
SET @strMulti = 'ALTER DATABASE '+@targetDB+'  SET MULTI_USER;'

set @message = 'database trying => single ' + @targetDB;
RAISERROR( @message,0,1) WITH NOWAIT
exec (@strSingle)
set @message = 'database is in single mode ' + @targetDB;
RAISERROR( @message,0,1) WITH NOWAIT

EXECUTE sp_executesql @scriptText

set @message = 'script executed ';
RAISERROR( @message,0,1) WITH NOWAIT
exec (@strMulti)
set @message = 'database is in multi mode ' + @targetDB;
RAISERROR( @message,0,1) WITH NOWAIT
END
GO
