USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saServerInfoSet]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[saServerInfoSet]
	@name NVARCHAR(512), 
	@description NVARCHAR(2048),
	@contact NVARCHAR(512),
	@isopen BIT,
	@isbroadcast BIT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @nof INT;
	SELECT @nof=COUNT(*) FROM dbo.serverinfo;
	IF (@nof=0)
	BEGIN
	    INSERT dbo.serverinfo ( [name], [description], [contact], [isopen], [isbroadcast])
	    VALUES  ( @name,@description, @contact, @isopen,@isbroadcast )
	END
	ELSE
	BEGIN
		UPDATE dbo.serverinfo SET [name]=@name, [description]=@description, [contact]=@contact, [isopen]=@isopen, [isbroadcast]=@isbroadcast;    
	END
	
	SELECT TOP 1 * FROM dbo.serverinfo;

END
GO
