USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_locks]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_locks] 
	
AS
BEGIN
	

	select  
    object_name(p.object_id) as TableName, 
    resource_type, resource_description,*
from
    sys.dm_tran_locks l
    join sys.partitions p on l.resource_associated_entity_id = p.hobt_id



END
GO
