USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[newMailCount]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[newMailCount] 
	@characterID int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT count(*) from cmails where owner=@characterID and wasread=0 and target=@characterID


END

GO
