USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[movecontainerstoroot]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[movecontainerstoroot]

	@rootEID BIGINT
	
AS
BEGIN
	SET NOCOUNT ON;


with children(eid,ename,owner)
	as
	(
		SELECT eid,ename,owner FROM entities WHERE eid = @rootEID
	
		UNION ALL
	
		SELECT C.eid,c.ename,c.owner FROM entities AS C JOIN children AS M ON C.parent = M.eid where C.definition=577 OR c.definition=310
		
	)

	UPDATE entities SET parent=@rootEID WHERE eid IN (SELECT eid from children where eid<>@rootEID) option (MAXRECURSION 256)

END
GO
