USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[maildelete]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[maildelete] 
	(
	@mailID uniqueidentifier,
	@characterID int
	)
	
AS
	SET NOCOUNT ON
	
	declare @sourceID uniqueidentifier, @sender int, @target int
		
		
		
	if not exists (select owner from cmails where owner=@characterID and mailid=@mailID)
	begin
		select -1,-1 --mail not found
		return
	end
	
	select @sourceID = sourceid, @sender = sender, @target = target from cmails where owner=@characterID and mailid=@mailID

	-- delete mail
	delete cmails where owner=@characterID and mailid=@mailID
	
	if @sourceID is NULL
	begin
		select 0,0 --original was deleted
		return
	end 
		
	--set original 'deleted'
	
		
	-- was i the sender?
	if @sender = @characterID
	begin
		update cmails set sourceid=NULL where owner=@target and mailid=@sourceID
		-- nothing to do, it was in my outbox
		select 0,0
	end
	else
	begin
		update cmails set sourceid=NULL where owner=@sender and mailid=@sourceID
	
		-- report to sender		
		select @sender,@sourceID
	end
	
	 
	RETURN


GO
