USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_topitemsbought]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_topitemsbought] 
	
	@cfname VARCHAR(128),
	@startdate DATETIME,
	@enddate Datetime
	
AS
BEGIN



DECLARE @cf BIGINT
SET @cf = (SELECT [value] FROM dbo.categoryFlags WHERE dbo.categoryFlags.[name]=@cfname)
SELECT 
	SUM(t.quantity) AS summa, 
	t.definition, 
	(SELECT definitionname FROM entitydefaults WHERE t.definition=definition) 
	FROM dbo.charactertransactions t 
	WHERE 
	t.definition IN 
	(SELECT definition FROM entitydefaults WHERE (categoryflags & 0xff) = @cf)
	AND t.transactiondate BETWEEN @startdate AND @enddate
	GROUP BY t.definition  ORDER BY summa DESC 

END

GO
