USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_centralbanklog]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_centralbanklog] 
	
	@fromDate datetime
	
AS
BEGIN
	
	SET NOCOUNT ON;

   
	SELECT eventtime, ';', bankcredit FROM centralbanktransactions where eventtime > @fromDate ORDER BY eventtime asc
END
GO
