USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[newMassMailCount]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[newMassMailCount] 
	
	@characterID int
	
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT count(*) from charactermessages where owner=@characterID and wasread=0
END

GO
