USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[writeHardwareInfo]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[writeHardwareInfo] 
	
	@accountID INT,
	@gfxcard VARCHAR(128),
	@gfxdriver VARCHAR(128),
	@gfxvendorid int,
	@gfxdeviceid int,
	@gfxdriverversion bigint,
	@pixelshader bigint,
	@vertexshader bigint,
	@maxtexturex int,
	@maxtexturey int,
	@osversion VARCHAR(128)
	
AS
BEGIN
	
	
	SET NOCOUNT ON;

	IF EXISTS (SELECT accountid FROM hardwareinfo WHERE accountid=@accountID)
	BEGIN
UPDATE dbo.hardwareinfo
SET 
gfxcard = @gfxcard,
gfxdriver = @gfxdriver,
gfxvendorid = @gfxvendorid,
gfxdeviceid = @gfxdeviceid,
gfxdriverversion = @gfxdriverversion,
pixelshader = @pixelshader,
vertexshader = @vertexshader,
maxtexturex = @maxtexturex,
maxtexturey = @maxtexturey,
osversion = @osversion
WHERE accountid=@accountID

	END
	
	ELSE
	
	BEGIN
	
	INSERT dbo.hardwareinfo (
	accountid,
	gfxcard,
	gfxdriver,
	gfxvendorid,
	gfxdeviceid,
	gfxdriverversion,
	pixelshader,
	vertexshader,
	maxtexturex,
	maxtexturey,
	osversion
) VALUES ( 
	@accountid,
	@gfxcard,
	@gfxdriver,
	@gfxvendorid,
	@gfxdeviceid,
	@gfxdriverversion,
	@pixelshader,
	@vertexshader,
	@maxtexturex,
	@maxtexturey,
	@osversion)
	
	
	end
    
	
END
GO
