USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_insurencePayout]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_insurencePayout] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

    
SELECT 'top 100 corporations'

SELECT TOP 100 COUNT(*) AS am, (SELECT nick FROM corporations WHERE eid=t.corporationEID)  FROM corporationtransactions t WHERE transactiontype=33 GROUP BY corporationEID ORDER BY am DESC

SELECT 'top 100 characters'

SELECT TOP 100 COUNT(*) AS am, (SELECT nick FROM characters WHERE characterID=t.characterid)  FROM charactertransactions t WHERE transactiontype=33 GROUP BY characterid ORDER BY am DESC

END
GO
