USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionAgentDelete]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[missionAgentDelete] 
	 @agentId int
AS
BEGIN
	
DELETE dbo.missiontargetsarchive WHERE missionid IN (SELECT id FROM missions WHERE sourceagent=@agentId)
DELETE dbo.missionlog WHERE missionid IN (SELECT id FROM missions WHERE sourceagent=@agentId)
DELETE dbo.missionstartitem WHERE missionid IN (SELECT id FROM missions WHERE sourceagent=@agentId)
DELETE dbo.missionstandingchange WHERE missionid IN (SELECT id FROM missions WHERE sourceagent=@agentId)
DELETE dbo.missionrewards WHERE missionid IN (SELECT id FROM missions WHERE sourceagent=@agentId)
DELETE dbo.missiontoagent WHERE agentid=@agentId
DELETE dbo.missiontargets WHERE missionid IN (SELECT id FROM missions WHERE sourceagent=@agentId)
DELETE missions WHERE sourceagent=@agentId
DELETE dbo.missionagents WHERE id=@agentId

END
GO
