USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setRelayListening]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[setRelayListening] 
	(
	@relayname varchar(50),
	@ip varchar(32),
	@port int,
	@maxusers int
	)
	
AS
	SET NOCOUNT ON
	
	if exists (select * from relays where relayname=@relayname)
	begin
		--the record stuck in the table
		update relays set ipaddress=@ip, port=@port,currentusers=0,maxusers=@maxusers where relayname=@relayname
	end
	else
	begin
		--the record was cleaned up properly
		insert relays (relayname,ipaddress,port,maxusers) values (@relayname,@ip,@port,@maxusers)
	end
	 
	RETURN
GO
