USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_onlineTrialCharacters]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[report_onlineTrialCharacters] 



AS
BEGIN



SELECT c.nick,c.creation,c.characterID,a.totalMinsOnline,aot.ip FROM characters c 
JOIN accounts a ON c.accountID=a.accountID
JOIN accountonlinetime aot ON aot.accountid=a.accountID

where
c.accountid in
(SELECT accountID FROM accounts
WHERE 
c.inuse=1
AND 
(acclevel & 8388608) = 8388608)
AND
active=1
AND
aot.loggedout is null

ORDER BY creation desc


END
GO
