USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[printPollResult]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[printPollResult] 
	 
	@pollid int
AS
BEGIN
	
	SET NOCOUNT ON;

	declare @isActive int, @participation int
	
	select @isActive=active, @participation=participation from polls where pollid=@pollid
	
	if (@isActive = 1)
	begin
		select N'poll is still active' + cast(@pollid as varchar(40))
		return	
	end
	
select distinct answerid, c.choicetext,
cast((select count(*) from pollanswers where answerid=a.answerid) as float) / @participation * 100 as voted 
from pollanswers a
join pollchoices c on a.answerid=c.choiceid where a.pollid=@pollid order by voted desc

END
GO
