USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionPrepareSync]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[missionPrepareSync]

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @message VARCHAR(512)

	SET @message = 'adding helper index'
	RAISERROR( @message,0,1) WITH NOWAIT

	--helper index
	CREATE NONCLUSTERED INDEX [kukac]
	ON [dbo].[entities] ([ename])
	INCLUDE ([eid])

	SET @message = 'teleport stuff'
	RAISERROR( @message,0,1) WITH NOWAIT

	--teleport eid sync
	UPDATE dbo.zoneentities set ename=(SELECT ename FROM dbo.entities e WHERE e.eid=  dbo.zoneentities.eid) , note='tpcol'
	WHERE eid in
	(SELECT eid FROM dbo.entities WHERE definition IN(667,1394,1395))

	UPDATE dbo.teleportdescriptions SET sourcecolumnname=(SELECT [ename] FROM dbo.entities WHERE eid=sourcecolumn)
	UPDATE dbo.teleportdescriptions SET targetcolumnname=(SELECT [ename] FROM dbo.entities WHERE eid=targetcolumn) WHERE targetcolumn IS NOT NULL

	SET @message = 'mission stuff'
	RAISERROR( @message,0,1) WITH NOWAIT
	
	--save the corpname into the note
	update missionissuer set corporationname=(select [name] from dbo.corporations where eid=dbo.missionissuer.corporationeid)
	update missionissuer set alliancename=(select [name] from dbo.alliances where allianceEID= dbo.missionissuer.allianceeid)
	UPDATE missionstandingchange SET alliancename =(select [name] from dbo.alliances where allianceEID=dbo.missionstandingchange.allianceeid)
	UPDATE missionrequiredstanding SET corporationname = (select [name] from corporations where eid=dbo.missionrequiredstanding.corporationeid)
	UPDATE dbo.missionagents SET ownername = (SELECT [name] FROM alliances WHERE allianceEID=dbo.missionagents.owner)
	UPDATE dbo.missionlocations SET locationname = (SELECT [ename] FROM dbo.entities WHERE eid=locationeid)

	SET @message = 'mission target structure eids'
	RAISERROR( @message,0,1) WITH NOWAIT

	--ahol van beallitva structure eid es a mission is be van allitva az regi missionhoz tartozo target, onnan a fetch item az ami live eid-t hasznal csak
	UPDATE dbo.missiontargets SET structurename = (SELECT [ename] FROM dbo.entities WHERE eid=structureeid) WHERE structureeid IS NOT NULL AND missionid IS NOT NULL AND targettype=1

	SET @message = 'dropping helper index'
	RAISERROR( @message,0,1) WITH NOWAIT

	--trash index
	DROP INDEX [kukac] ON [dbo].[entities]

	SET @message = 'prepare sync done'
	RAISERROR( @message,0,1) WITH NOWAIT

END
GO
