USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionCleanUpLog]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[missionCleanUpLog] 
	
AS
BEGIN
	SET NOCOUNT ON;

	
DELETE dbo.missiontargetsarchive WHERE missionID NOT IN 
(SELECT id FROM missions WHERE listable=1)

SELECT @@ROWCOUNT,' rowcount. obsolete targets got cleaned'


DELETE dbo.missionlog WHERE missionid NOT in
(SELECT id FROM missions WHERE listable=1)

SELECT @@ROWCOUNT,' rowcount. obsolete missions got cleaned'


DELETE dbo.missiontargetsarchive WHERE characterid IN (SELECT characterid FROM characters WHERE active=0)
SELECT @@ROWCOUNT,' rowcount. inactive characters in missiontargetsarchive'

DELETE dbo.missionlog WHERE characterid IN (SELECT characterid FROM characters WHERE active=0)
SELECT @@ROWCOUNT,' rowcount. inactive characters in missionlog'

DELETE dbo.missiontargetsarchive WHERE characterid NOT IN (SELECT characterid FROM characters)
SELECT @@ROWCOUNT,' rowcount. unknown characters in missiontargetsarchive'

DELETE dbo.missionlog WHERE characterid NOT IN (SELECT characterid FROM characters)
SELECT @@ROWCOUNT,' rowcount. unknown characters in missiontargetsarchive'

END
GO
