USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountInvalidate]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[saAccountInvalidate]
	@accountid INT
AS
BEGIN
	SET NOCOUNT ON;
		
	IF NOT EXISTS (SELECT 1 FROM dbo.accounts WHERE accountID=@accountid)
	BEGIN
	    SELECT -1; -- account not exists
		RETURN;
	END

	DECLARE @now DATETIME, @ms INT, @postFix VARCHAR(20);
	SET @now = GETDATE();
	SET @ms = DATEPART(MILLISECOND,@now);
	SET @postFix = '_'+CAST(@ms AS VARCHAR(20));

    UPDATE accounts SET [email]=[email]+@postFix, [password]=[password]+@postFix WHERE accountID=@accountid;

	SELECT @accountid AS [accountid];

END



GO
