USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setManualPrice]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[setManualPrice] 
	(
	@definition int,
	@price float
	)
	
AS
SET NOCOUNT ON

if exists (select definition from itemprices where definition=@definition)
begin
	update itemprices set price=@price where definition=@definition
end
else
begin
	insert itemprices (definition,price,profitrate,manualprice) values (@definition,@price,1,0)
end

select @price as price

RETURN 




GO
