USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[mailsend]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mailsend] 
	
	(
	@sender int,
	@target int,
	@subject nvarchar(256),
	@body nvarchar(3800),
	@infolder tinyint,
	@outfolder tinyint,
	@type tinyint,
	@senderID uniqueidentifier,
	@targetID uniqueidentifier
	)
	/*
	-1 target not exists
	0 ok
	*/
AS
	SET NOCOUNT ON
	
	
	
	
	
	--check target
	if not exists (select characterID from characters where characterID=@target)
	begin
		select -2
		return
	end
	
	--target's inbox
	insert cmails (owner,sender,target,subject,body,type,folder,mailid,sourceid) values (@target,@sender,@target,@subject,@body,@type,@infolder,@targetID,@senderID) 
	--sender's outbox
	insert cmails (owner,sender,target,subject,body,type,folder,mailid,sourceid,wasread) values (@sender,@sender,@target,@subject,@body,@type,@outfolder,@senderID,@targetID,1)

	select 0		
	
	
	
	RETURN


GO
