USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[teleportFixData]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[teleportFixData] 

AS
BEGIN
	
--cleanup teleport entities
UPDATE dbo.entities SET owner=NULL,dynprop='#enabled=i1' WHERE definition IN(667,1394,1395)

--put the teleports where they belong	
DECLARE @tpStorage BIGINT
SET @tpStorage = (SELECT eid FROM dbo.entitystorage WHERE storage_name='teleport_column')
PRINT 'current storage: ' + CAST(@tpStorage AS VARCHAR(64))


UPDATE dbo.entities SET parent=@tpStorage WHERE definition IN(667,1394,1395)
END

GO
