USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[mission_writetargetinprogress]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mission_writetargetinprogress]
	
	@missionID int,
	@characterID int,
	@targetID int,
	@progressCount int,
	@completed BIT,
	@guid UNIQUEIDENTIFIER,
	@targetOrder INT,
	@displayOrder INT,
	@definition INT,
	@quantity INT,
	@structureEid BIGINT,
	@secondaryDefinition INT,
	@secondaryQuantity INT,
	@zoneId INT,
	@x INT,
	@y INT,
	@artifactType INT,
	@targetType INT,
	@scanType INT,
	@targetRange INT

AS
BEGIN
	SET NOCOUNT ON;
		
	if exists (select missionid from missiontargetsarchive where missionid=@missionID and characterid=@characterID and targetid=@targetID AND missionguid=@guid)
		begin
			update missiontargetsarchive set progresscount=@progressCount,completed=@completed where missionid=@missionID and characterid=@characterID and targetid=@targetID AND missionguid=@guid		
		end
	else
		begin
			insert missiontargetsarchive
			 (missionid,characterid,targetid,progresscount,completed,missionguid,targetorder,displayorder,
			 definition,quantity,structureeid,secondarydefinition,secondaryquantity,zoneid,x,y,artifacttype,
			 targettype,scantype,targetrange)
			  values 
			 (@missionID,@characterID,@targetID,@progressCount,@completed,@guid,@targetOrder,@displayOrder,@definition,
			 @quantity,@structureEid,@secondaryDefinition,@secondaryQuantity,@zoneId,@x,@y,@artifactType,
			 @targetType,@scanType,@targetRange)

		end
	
	select @@ROWCOUNT
END



GO
