USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[vendorPresetSaveFromMarket]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[vendorPresetSaveFromMarket] 

	@presetID int,
	@vendorEID bigint
AS
BEGIN
SET NOCOUNT ON;

insert vendorpresetvalues ( presetid,definition,issell,price,quantity,duration) 
(select @presetID, itemdefinition, issell, price, quantity, duration from marketitems where isvendoritem=1 and submittereid=@vendorEID)

SELECT 'done!'

END
GO
