USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_decorTopList]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_decorTopList] 
	
	
	
AS
BEGIN
	
	
SELECT COUNT(*) AS amount,
		d.definition,
		(SELECT definitionname FROM entitydefaults WHERE d.definition =definition) AS definitionname
		FROM decor d GROUP BY definition ORDER BY amount desc

    
	
END
GO
