USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[standingsCleanUp]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[standingsCleanUp]
AS
BEGIN
	
delete FROM dbo.standings WHERE 
[source] IN 
(SELECT eid FROM corporations WHERE active=0)
OR
[target] IN 
(SELECT eid FROM corporations WHERE active=0)
OR
[source] IN 
(SELECT rooteid FROM characters WHERE active=0)
OR
[target] IN
(SELECT rooteid FROM characters WHERE active=0)
OR
[source] NOT IN 
(SELECT eid FROM dbo.entities)
OR
[source] NOT IN 
(SELECT eid FROM dbo.entities)

  
	SELECT @@ROWCOUNT,'invalid standings got deleted'
END
GO
