USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_intel]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_intel] 
	
	
AS
BEGIN
	select count(*),(select name from zones where id=zoneid) from characters where inuse=1 and docked=0 and zoneid in (3,4,5,9,10,11) group by zoneid


select nick,cast(positionX as int) as x ,cast(positionY as int) as y,
(select name from zones where id=zoneID),
(select definitionname from entitydefaults where definition=(select definition from entities where eid=activechassis))

 from characters where characterID in
(select memberid from corporationmembers where corporationEID=8805151896320010167)
and
inuse=1
and
docked=0
END
GO
