USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_tableSizes]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_tableSizes]
		@byRows INT = 0
AS
BEGIN
	SET NOCOUNT ON 

DBCC UPDATEUSAGE(0) 


/*
-- DB size.
EXEC sp_spaceused
*/

-- Table row counts and sizes.
CREATE TABLE #t 
( 
    [name] NVARCHAR(128),
    [rows] CHAR(11),
    reserved VARCHAR(18), 
    data VARCHAR(18), 
    index_size VARCHAR(18),
    unused VARCHAR(18)
) 

INSERT #t EXEC sp_msForEachTable 'EXEC sp_spaceused ''?''' 

IF (@byRows = 1)
BEGIN
	SELECT name,[rows],data,index_size,unused,CAST( REPLACE(reserved,'KB','') AS INT) AS reskb
	FROM   #t ORDER BY CAST([rows] AS INT) desc
END
	ELSE
BEGIN
	SELECT name,[rows],data,index_size,unused,CAST( REPLACE(reserved,'KB','') AS INT) AS reskb
	FROM   #t ORDER BY reskb desc
END

/*
-- # of rows.
SELECT SUM(CAST([rows] AS int)) AS [rows]
FROM   #t
*/

DROP TABLE #t 
	
	
	
END


GO
