USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionAddParticipant]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[missionAddParticipant] 
	
	@missionGuid UNIQUEIDENTIFIER, 
	@characterId int
AS
BEGIN
		
	SET NOCOUNT ON;

    IF not EXISTS (SELECT 1 FROM dbo.missionparticipants WHERE missionguid=@missionGuid AND characterid=@characterId)
	BEGIN
	    INSERT dbo.missionparticipants ( missionguid, characterid ) VALUES  ( @missionGuid, @characterId)
	END
	
END
GO
