USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_gotoFieldTerminals]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[script_gotoFieldTerminals] 
	@zoneId int 
AS
BEGIN
	
SELECT 'gotoxy', CAST(x AS INT),CAST(y AS int) FROM dbo.zoneentities WHERE eid in
(
SELECT eid FROM dbo.entities WHERE definition in
(
SELECT [definition] FROM dbo.getDefinitionByCFString  ('cf_field_terminal')
)
)
AND zoneID=@zoneId


END
GO
