USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_traceroute]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[report_traceroute] 



AS
BEGIN
	SET NOCOUNT ON;

select AVG(roundtriptime) as avgping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by avgping asc

select MAX(roundtriptime) as maxping, (select [name] from traceips where id=tracedipid)
 from traceroutelog where 
 roundtriptime>0 and roundtriptime<8000 and tracedipid>0
 and ip in (select ip from traceips)
 AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid 
 order by maxping asc


select AVG(roundtriptime) as usaping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=51)
     AND tracetime BETWEEN '20110830' AND '20110831'
 group by tracedipid
 order by usaping asc

select AVG(roundtriptime) as ukping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=47)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by ukping asc
 
 
 select AVG(roundtriptime) as ruping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=40)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by ruping asc



 select AVG(roundtriptime) as frping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=19)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by frping asc


 select AVG(roundtriptime) as deping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=14)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by deping asc


 select AVG(roundtriptime) as caping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=53)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by caping asc



 select AVG(roundtriptime) as auping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=52)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by auping asc


 select AVG(roundtriptime) as itping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=25)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by itping asc


 select AVG(roundtriptime) as seping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=41)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by seping asc



 select AVG(roundtriptime) as nlping,(select name from traceips where id=tracedipid) from traceroutelog where
 tracedipid>0 and
  ipstatus=0 and
   roundtriptime<4000 and
    roundtriptime>0 and
     ip in (select ip from traceips) and
     accountid in (select accountid from accounts where country=35)
     AND tracetime BETWEEN '20110826' AND '20110831'
 group by tracedipid
 order by nlping asc



/*
    RU *
    GB *
    US *
    FR 19 *
    DE 14 *
    CA 53 *
    AU 52 *
    IT 25 *
    SE 41 *
    NL 35
*/



END
GO
