USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setTreeOwner]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[setTreeOwner] 
(
	@rootEID bigint, -- the node which will be used as root
	@newOwner bigint -- the new owner
	
)

	
AS
	SET NOCOUNT ON;
	
with children(eid, lvl)
	as
	(
		SELECT eid, 0 FROM entities WHERE eid = @rootEID
	
		UNION ALL
	
		SELECT C.eid, M.lvl+1 FROM entities AS C JOIN children AS M ON C.parent = M.eid 
	)

	update entities set owner=@newOwner where eid in (select eid from children) option (MAXRECURSION 256);
	select @@ROWCOUNT
	 
RETURN









GO
