USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[PrintForeignKeys]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--prints out the commands - nice tool

CREATE PROCEDURE [dbo].[PrintForeignKeys] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

    /* Drop foreignkey constraint from table */

select 'ALTER TABLE ' + foreign_table + ' DROP CONSTRAINT ' + foreign_key_name + ';'
        from foreignkeys order by foreign_table;


	
	/* ADD foreignKey constraints to a table */

select 'ALTER TABLE ' + foreign_table + ' ADD CONSTRAINT ' + foreign_key_name + ' FOREIGN KEY (' + foreign_column_1 + ') REFERENCES ' + primary_table + ' (' + primary_column_1 + ');'
            from foreignkeys order by foreign_table

END

GO
