USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[insuranceadd]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[insuranceadd]
	
	@EID bigint, 
	@characterID int,
	@endDate datetime,
	@type int,
	@corporationEID bigint,
	@payOut float
	
AS
BEGIN
	
	SET NOCOUNT ON;

	if exists (select characterid from insurance where eid=@EID)
		begin
			update insurance set enddate=@endDate, [insurancetype]=@type,corporationeid=@corporationEID,payout=@payOut where characterid=@characterID and eid=@EID
		end

	else
		
		begin 
			insert insurance (characterid,eid,[insurancetype],enddate, corporationeid, payout) values (@characterID,@EID,@type,@endDate,@corporationEID,@payOut)
		end
    
	
END




GO
