USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_MarketBuyByDefinition]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[report_MarketBuyByDefinition]

 @transactionType INT = 1,
 @fromDate DATETIME, 
 @toDate DATETIME,
 @definition int


AS
BEGIN
	SET NOCOUNT ON;

--market buys

SELECT 'marketbuy for ' , definitionname, ' from ',@fromDate, ' to ', @toDate FROM entitydefaults WHERE definition=@definition 

SELECT  characterid,-1*amount AS nic,transactiondate,quantity,currentcredit FROM dbo.charactertransactions 
WHERE 
transactiontype=@transactionType 
AND
( transactiondate BETWEEN @fromDate AND @toDate ) 
AND
definition = @definition
ORDER BY transactiondate asc


END
GO
