USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_production_prototype_by_definition]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_production_prototype_by_definition]
	(
	@definition int
	)
AS
BEGIN
	
	
	SET NOCOUNT ON;

SELECT pl.characterid,pl.definition,d.definitionname,pl.productiontime 
FROM dbo.productionlog pl 
JOIN dbo.entitydefaults d ON pl.definition=d.definition 
WHERE pl.productiontype=9 AND pl.definition=@definition ORDER BY pl.productiontime desc
    
	
END
GO
