USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[newAccountBySteamID]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[newAccountBySteamID] 
	
	@steamID VARCHAR(20)
	
AS
BEGIN
	
	SET NOCOUNT ON;

	declare @freshAccountID int

	INSERT dbo.accounts ( emailConfirmed, steamID, isactive ) VALUES  
		(
		 1 ,		-- emailConfirmed 
         @steamID , -- steamID 
         1			-- isactive 
        )

	
	set @freshAccountID = (select cast(scope_identity() as int))
	
	SELECT @freshAccountID
	
    END
GO
