USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[getTableColumnInfo]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTableColumnInfo]
	(
    @table_name varchar(384)
	)
	
	--retrieves all info about the specified table's columns
	
AS
	SET NOCOUNT ON;
		
	exec sp_columns @table_name
	
GO
