USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountSetPassword]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[saAccountSetPassword]
	@accountid INT, 
	@password VARCHAR(100) = null, -- sha1 encoded by default
	@clearpassword INT=0
AS
BEGIN
	SET NOCOUNT ON;
		
	EXEC dbo.saAccountUpdate
		@accountid,
	    NULL,
	    @password,
	    @clearpassword
	

END


GO
