USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[writemissiontarget]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[writemissiontarget]
	
	@missionID int,
	@characterID int,
	@targetID int,
	@progressCount int,
	@completed BIT,
	@guid UNIQUEIDENTIFIER

AS
BEGIN
	SET NOCOUNT ON;
		
	if exists (select missionid from missiontargetsarchive where missionid=@missionID and characterid=@characterID and targetid=@targetID AND missionguid=@guid)
		begin
			update missiontargetsarchive set progresscount=@progressCount,completed=@completed where missionid=@missionID and characterid=@characterID and targetid=@targetID AND missionguid=@guid		
		end
	else
		begin
			insert missiontargetsarchive (missionid,characterid,targetid,progresscount,completed,missionguid) values (@missionID,@characterID,@targetID,@progressCount,@completed,@guid)
		end
	
	select @@ROWCOUNT
END



GO
