USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[insertMarketItem]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertMarketItem] 
(
	@marketEID bigint,
	@itemEID bigint,
	@itemDefinition int,
	@submitterEID bigint,
	@duration int,
	@price bigint,
	@isSell bit,
	@result int output
)
AS
BEGIN
SET NOCOUNT ON;

if @itemDefinition = 0 
	select @itemDefinition = definition from entities where eid = @itemEID

insert into marketitems (marketeid, itemeid, itemdefinition, submittereid,duration,price,isSell)
	values (@marketEID,@itemEID,@itemDefinition,@submitterEID,@duration,@price,@isSell)

update entities set parent = @marketEID where eid = @itemEID

if @@rowcount > 0
	set @result = 0
else
	set @result = -1


END



GO
