USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[cleanUpZoneUserEntities]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cleanUpZoneUserEntities] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

   delete dbo.zoneuserentities WHERE eid NOT IN (SELECT eid FROM dbo.entities)
   SELECT @@ROWCOUNT
END
GO
