USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setExtensionLevel]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[setExtensionLevel]
(
	@characterID as int,
	@extensionID as int,
	@extensionLevel as int
)
AS
	SET NOCOUNT ON

	if @extensionLevel=0
	begin
		delete characterextensions where extensionid=@extensionID and characterid=@characterID
		select @@ROWCOUNT
		return
	end

	
	if exists (select extensionid from characterextensions where extensionid=@extensionID and characterid=@characterID)
	begin
		update characterextensions set extensionlevel = @extensionLevel where characterid = @characterID and extensionid = @extensionID
	end else
	begin
		insert characterextensions (characterid,extensionid,extensionlevel) values (@characterID,@extensionID,@extensionLevel)
	end
		
	select @@ROWCOUNT







GO
