USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[maintainHealth]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[maintainHealth] 
AS
BEGIN
	SET NOCOUNT ON;

-- high end thing. but won't hurt
EXEC sys.sp_flush_log

--light stuff

--Reports and corrects pages and row count inaccuracies in the catalog views
DECLARE @currentDB VARCHAR(128), @commandTxt NVARCHAR(256)
SET @currentDB = DB_NAME();
SET @commandTxt = N'DBCC UPDATEUSAGE(' + @currentDB + ') WITH  NO_INFOMSGS;'
EXECUTE sys.sp_executesql @stmt = @commandTxt

--Updates query optimization statistics on a table or indexed view
--EXEC sp_updatestats; there is a fullscan version of this later here

--Checks the current identity value for the specified table in SQL Server 2014 and, if it is needed, changes the identity value
--  THIS WILL PRINT ERRORS coz there are tables with no identity
--EXEC sp_MSforeachtable @command1="DBCC CHECKIDENT ('?') WITH NO_INFOMSGS"



--heavy stuff
DBCC CHECKDB WITH DATA_PURITY, ALL_ERRORMSGS,NO_INFOMSGS  ;
EXEC sp_MSforeachtable @command1='UPDATE STATISTICS ? WITH FULLSCAN';
exec dbo.rebuildTableIndices


END
GO
