USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[m_fix_issuers]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[m_fix_issuers] 
	
AS
BEGIN
		
SET NOCOUNT ON;

DECLARE @id INT,@corporationEid bigINT, @allianceEid BIGINT, @allianceName VARCHAR(50)

DECLARE TableCursor CURSOR FOR SELECT id,corporationeid FROM dbo.missionissuer

OPEN TableCursor

FETCH NEXT FROM TableCursor INTO @id,@corporationEid
WHILE @@FETCH_STATUS = 0
BEGIN
		
		SET @allianceEid = (SELECT allianceEID FROM dbo.alliancemembers WHERE corporationEID=@corporationEid)
		SET @allianceName = (SELECT name FROM alliances WHERE allianceEID=@allianceEid)
		
		IF (@allianceEid > 0 )
		BEGIN
			UPDATE dbo.missionissuer SET allianceeid=@allianceEid,alliancename=@allianceName WHERE id=@id
		
		END
		
		
		
		
		FETCH NEXT FROM TableCursor INTO @id,@corporationEid
END

CLOSE TableCursor

DEALLOCATE TableCursor
	
END
GO
