USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[reorganizeIndexesByThreshold]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reorganizeIndexesByThreshold] 
	
	@threshold int = 50
	
AS
BEGIN
	SET NOCOUNT ON;

    
DECLARE  @todoString NVARCHAR(256)

DECLARE workTable CURSOR FOR 
 SELECT REPLACE(todo, 'REBUILD', 'REORGANIZE') FROM dbo.getIndexFragmentationData(@threshold)

 OPEN workTable;
 FETCH NEXT FROM workTable into @todoString;
 WHILE (@@FETCH_STATUS <> -1)
 BEGIN
	PRINT @todoString;
	EXEC sys.sp_executesql @todoString
	FETCH NEXT FROM workTable INTO @todoString
	END
    PRINT 'reorganize done'
	CLOSE workTable;
	DEALLOCATE workTable;
	
END
GO
