USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecordPlasmaGathered]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- Create sp to register plasma statistics

CREATE PROCEDURE [dbo].[sp_RecordPlasmaGathered]
    @gathered_on DATE,
    @plasma_type VARCHAR(50),
    @quantity BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO plasma_gathered_daily (gathered_on, plasma_type, quantity)
    VALUES (@gathered_on, @plasma_type, @quantity)
END;

GO
