USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[pbsTrashCleanUp]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pbsTrashCleanUp] 
	@baseEid BIGINT
	AS
BEGIN
	SET NOCOUNT ON;

	--delete the docking base tree
	EXEC dbo.deleteAllChildren @baseEid

	--delete root
	DELETE dbo.entities WHERE eid=@baseEid

	--delete from pbs trash
	DELETE dbo.pbstrash WHERE baseeid=@baseEid
	
	
END
GO
