USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[recalculateVendorPrices]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Recalculates the sell order prices based on the itemprice and the vendor profit

CREATE PROCEDURE [dbo].[recalculateVendorPrices]
	
	@vendorEID bigint
 
AS
BEGIN

	SET NOCOUNT ON;
	
    update marketitems set price = dbo.getVendorMarketPrice( @vendorEID , itemdefinition, isSell ) where submittereid=@vendorEID
    AND
    itemdefinition IN (SELECT definition FROM dbo.itemprices)
	select @@ROWCOUNT

END

GO
