USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[itemCount]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[itemCount] 
	
	@publicContainerDefinition int = 166, 
	@owner BIGINT
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT c.eid,COUNT(*) AS amount FROM dbo.getLiveDockingbaseChildren() c 
	JOIN entities i ON i.parent = c.eid and i.owner=@owner AND c.definition=@publicContainerDefinition
	GROUP BY c.eid
	
END
GO
