USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionBonusWrite]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[missionBonusWrite] 
	
	@characterId INT, 
	@missionCategory INT,
	@missionLevel INT,
	@agentId INT,
	@bonus INT

AS
BEGIN
	
	SET NOCOUNT ON;
	
IF EXISTS (SELECT characterid FROM missionbonus WHERE characterid=@characterId AND missioncategory=@missionCategory AND missionlevel=@missionLevel AND agentid=@agentId)
	BEGIN
	
		IF (@bonus=0)
			BEGIN
				DELETE dbo.missionbonus WHERE characterid=@characterId AND missioncategory=@missionCategory AND missionlevel=@missionLevel AND agentid=@agentId
			END
		ELSE
			BEGIN	
				UPDATE missionbonus SET bonus=@bonus WHERE characterid=@characterId AND missioncategory=@missionCategory AND missionlevel=@missionLevel AND agentid=@agentId
			END
	
	END	
	
ELSE
		BEGIN
			INSERT dbo.missionbonus ( characterid, missioncategory, missionlevel, agentid, bonus )
			VALUES  ( @characterId, @missionCategory, @missionLevel, @agentId, @bonus)
		END
END
GO
