USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_searchInSPCode]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[script_searchInSPCode] 
	@pattern VARCHAR(128)
AS
BEGIN
	SET NOCOUNT ON;


SELECT OBJECT_NAME(id),so.type_desc FROM syscomments c
	JOIN sys.objects so ON so.object_id=c.id
    WHERE c.[text] LIKE @pattern 
    AND 
	OBJECTPROPERTY(c.id, 'IsExecuted') = 1 
	

END
GO
