USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[marketGetOrdersForCancel]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[marketGetOrdersForCancel] 
	@longA BIGINT = 0, 
	@longB BIGINT = 0
AS
BEGIN
	SET NOCOUNT ON;

    SELECT marketitemid, marketeid, itemeid, itemdefinition, submittereid, submitted, duration, isSell, price, quantity, usecorporationwallet, isvendoritem, formembersof FROM marketitems 
  WHERE isvendoritem=0 AND itemdefinition IN (4052,4053,4054)
	
END
GO
