USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[itemCountOnBases]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[itemCountOnBases] 
	
	@publicContainerDefinition int = 166, 
	@owner BIGINT
	
AS
BEGIN
	SET NOCOUNT ON;

WITH baseDefz (basedefinition)
as
(
	SELECT definition FROM dbo.getDefinitionByCategoryflag(0x010178,0xffffff) 
	UNION 
	SELECT definition FROM dbo.getDefinitionByCategoryflag(0x09030492,0xffffffff )
),
baseEids (baseeid)
AS
(
	SELECT eid FROM dbo.zoneentities WHERE zoneID != 45 
	UNION
	SELECT eid FROM dbo.zoneuserentities 
)
SELECT * FROM 
(
	SELECT c.parent AS fteid,c.eid AS containereid,(SELECT COUNT(*) FROM dbo.entities i WHERE i.parent=c.eid AND i.owner=@owner) AS amount FROM dbo.entities b
	JOIN baseDefz ON b.definition = baseDefz.basedefinition
	JOIN baseEids ON b.eid = baseEids.baseeid
	JOIN dbo.entities c ON c.parent=b.eid
	WHERE c.definition=@publicContainerDefinition
) AS t WHERE t.amount>0



	
END
GO
