USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionDeleteLogInChunks]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[missionDeleteLogInChunks] 
AS
BEGIN
	
	

DECLARE @k INT =0

SET NOCOUNT OFF
SET ROWCOUNT 10000


delete missionlog
WHERE finished IS NOT NULL 
AND missionID NOT in
(SELECT id FROM missions WHERE isunique=1 OR missiontype=12)
AND finished < DATEADD(MONTH,-6,GETDATE())
AND missionID NOT IN
(SELECT requiredmission FROM dbo.missionrequiredmissions)

SET @k = (SELECT @@ROWCOUNT)

WHILE @k > 0
BEGIN

delete missionlog
WHERE finished IS NOT NULL 
AND missionID NOT in
(SELECT id FROM missions WHERE isunique=1 OR missiontype=12)
AND finished < DATEADD(MONTH,-6,GETDATE())
AND missionID NOT IN
(SELECT requiredmission FROM dbo.missionrequiredmissions)

SET @k = (SELECT @@ROWCOUNT)

WAITFOR DELAY '00:00:02';
WAITFOR DELAY '00:00:02';

PRINT @k
--SELECT @k



END

PRINT 'vege a dalnak'






END
GO
