USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[accountPackageHas]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[accountPackageHas] 
	
	@accountId int, 
	@packageId int
AS
BEGIN
	SET NOCOUNT ON;
	    
	SELECT dbo.accountPackageIsPurchased(@accountId,@packageId) AS haspackage;
	
END
GO
