USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[marketfill]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[marketfill] 
	
	
AS
BEGIN
	
	SET NOCOUNT ON;





DECLARE @definition INT, @counter INT, @category BIGINT, @price float
SET @counter = 0

DECLARE TableCursor CURSOR FOR
      SELECT definition FROM dbo.entitydefaults WHERE purchasable=1 AND enabled=1


OPEN TableCursor

FETCH NEXT FROM TableCursor INTO @definition
WHILE @@FETCH_STATUS = 0
BEGIN
		
	SET @category = (SELECT categoryflags FROM dbo.entitydefaults WHERE definition=@definition)
	SET @price = 10
	
	--cf_material
	IF ((@category & 0xff) = 0x14)
	BEGIN
		SET @price=0.1
	END

		INSERT dbo.marketitems (
	marketeid,
	submittereid,
	itemdefinition,
	duration,
	isSell,
	price,
	quantity,
	isvendoritem
	
) 
SELECT marketeid,vendoreid,@definition,0,1,@price,-1,1 FROM dbo.vendors
		
		
				
		

		FETCH NEXT FROM TableCursor INTO @definition
END

CLOSE TableCursor

DEALLOCATE TableCursor

PRINT @counter
SELECT @counter

   
END
GO
