USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountDelete]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[saAccountDelete]
	@accountid INT
AS
BEGIN
	SET NOCOUNT ON;
		
	IF NOT EXISTS (SELECT 1 FROM dbo.accounts WHERE accountID=@accountid)
	BEGIN
	    SELECT -1; -- account not exists
		RETURN;
	END

	EXEC dbo.accountSimpleDelete @accountid;

	SELECT @accountid AS [accountid];

END



GO
