USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[listMarketAverageByDefinition]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listMarketAverageByDefinition] 

	@definition INT = 169, 
	@startDate DATETIME,
	@endDate DATETIME
	
AS
BEGIN
	SET NOCOUNT ON;


SELECT 
[date],
totalprice/quantity AS average,
mp.dailylowest,
mp.dailyhighest,
mp.totalprice,
mp.quantity
FROM marketaverageprices mp
WHERE itemdefinition=@definition
AND 
(date BETWEEN @startDate AND @endDate)

ORDER BY [DATE] asc

END
GO
