USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[writeEnvironment]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[writeEnvironment] 
	@definition int, 
	@descriptionstring varchar(MAX)

AS
BEGIN
	SET NOCOUNT ON;
	
	if exists (select definition from environmentdescription where definition=@definition)
	begin
		update environmentdescription set descriptionstring=@descriptionstring where definition=@definition
	end
	else
	begin
		insert environmentdescription (definition, descriptionstring) values (@definition, @descriptionstring)
	end
		
	select @@ROWCOUNT
	

END


GO
