USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setPrice]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[setPrice] 
	(
	@definition int
	)
	
AS
SET NOCOUNT ON

declare @price float

set @price = dbo.calcPrice(@definition)

if exists (select definition from itemprices where definition=@definition)
begin
	update itemprices set price=@price where definition=@definition
end
else
begin
	insert itemprices (definition,price,profitrate,manualprice) values (@definition,@price,1,0)
end

select @price as price

RETURN 



GO
