USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_pvpvspve]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_pvpvspve] 
	
AS
BEGIN
	SET NOCOUNT on


DECLARE @totalCharacters INT, @totalAccounts INT, @defCorpChars INT, @privCorpChars INT, @accountsWithPrivateCorp int

SET @totalCharacters = (

SELECT COUNT(*) FROM characters 
WHERE active=1 AND
      rooteid>0 
)


SET @totalAccounts = (SELECT COUNT(*) FROM accounts )


SET @defCorpChars=
(
SELECT COUNT(*) from dbo.corporationmembers WHERE memberid IN
(SELECT characterid FROM characters WHERE active=1 AND rooteid>0
AND corporationEID IN
(SELECT eid FROM corporations WHERE defaultcorp =1)));

SET @privCorpChars =

(
SELECT COUNT(*) from dbo.corporationmembers WHERE 

memberid IN

(SELECT characterid FROM characters WHERE active=1 AND rooteid>0 )
AND corporationEID IN
(SELECT eid FROM corporations WHERE defaultcorp =0)
)



SET @accountsWithPrivateCorp =

(
SELECT COUNT(DISTINCT accountid) FROM characters WHERE characterid in

(SELECT memberid from dbo.corporationmembers WHERE 

memberid IN

(SELECT characterid FROM characters WHERE active=1 AND rooteid>0 )
AND corporationEID IN
(SELECT eid FROM corporations WHERE defaultcorp =0))
)

SELECT 'total characters', @totalCharacters
SELECT 'characters in default corps ', @defCorpChars
SELECT 'characters in private corps ', @privCorpChars
SELECT 'default/total', CAST(@defCorpChars AS FLOAT) / CAST(@totalCharacters AS FLOAT)
SELECT 'private/total', CAST(@privCorpChars AS FLOAT) / CAST(@totalCharacters AS FLOAT)
SELECT 'total accounts',@totalAccounts
SELECT 'accounts with at least one character in private corp: ', @accountsWithPrivateCorp
SELECT 'private corp accounts / total accounts: ' , CAST(@accountsWithPrivateCorp AS FLOAT) / CAST(@totalAccounts AS FLOAT)


END
GO
