USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_rebuild_online]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[script_rebuild_online] 
	
	@threshold int = 10
	
AS
BEGIN
	
	SET NOCOUNT ON;

   SELECT * FROM dbo.getIndexFragmentationData(@threshold) ORDER BY fp DESC

END
GO
