USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[reimburseFromCharacterTransactions]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reimburseFromCharacterTransactions] 
	
	@characterID int = 0, 
	@containerEid BIGINT,
	@baseEid BIGINT,
	@apply int = 0
	
AS
BEGIN
	DECLARE @publicContainerEid BIGINT, @folderEid BIGINT, @rootEid BIGINT
	
	SET @rootEid = NULL

	SET @folderEid = NULL -- dummy

	IF @apply = 1
	BEGIN

		SET @rootEid = (SELECT rootEID FROM characters WHERE characterID=@characterID)  

		--PRINT 'character root eid: ' + CAST(@rootEid AS VARCHAR(64))

		SET @publicContainerEid = (dbo.GetPublicContainerEidByBaseEid(@baseEid) )

		--PRINT 'public container eid ' + CAST(@publicContainerEid AS VARCHAR(64))

		EXEC  dbo.CreateFolderContainer 
					@owner = @rootEid, 
					@parent = @publicContainerEid,
					@result = @folderEid OUTPUT

		--PRINT 'folder eid ' + CAST(@folderEid AS VARCHAR(64))      

		INSERT dbo.entities( eid ,                 [definition],   [owner], parent,    health, quantity,   repackaged )
		SELECT               dbo.TryGetRandomEid(),l.definition, @rootEid,  @folderEid,100,    l.quantity, dbo.IsDefinitionRepackable(l.definition) 
		FROM dbo.listItemsLeftInFieldContainer(@containerEid) l

		--PRINT 'rows inserted ' + CAST(@@ROWCOUNT AS VARCHAR(10))

		INSERT dbo.characterreimburselog ( containereid, characterid,note ) VALUES  ( @containerEid, @characterID, 'container reimbursed from log' )
	END

	SELECT
		dbo.TryGetRandomEid() AS eid,
		l.definition AS definition,
		@rootEid AS owner,
		@folderEid AS parent,
		100 AS health,
		l.quantity AS quantity,
		dbo.IsDefinitionRepackable(l.definition) AS repacked,
		dbo.GetDefinitionName(l.definition) AS defname
	FROM dbo.listItemsLeftInFieldContainer(@containerEid) l

END
GO
