USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[sparkAfterSync]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sparkAfterSync] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	--update dbo.sparks set corporationeid=(select eid from corporations c where c.name=corporationname) WHERE corporationname IS NOT null    
	update dbo.sparks set allianceeid=(select allianceeid from alliances a where a.name=alliancename) WHERE alliancename IS NOT null  


END
GO
