USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[mailopen]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mailopen] 
	(
	@mailID uniqueidentifier,
	@characterID int
	)
	/*
	-1 no such mail
	 0 original was deleted
	 
	 sender, mailID
	
	*/
	
AS
	SET NOCOUNT ON
		
	declare @sender int, @sourceID uniqueidentifier, @wasRead bit, @target int
		
	
	if not exists (select owner from cmails where owner=@characterID and mailid=@mailID)	
	begin
		select -1,-1
		return
	end
	
	


	select @sender = sender,@sourceID = sourceID, @wasRead = wasRead, @target = target  from cmails where owner=@characterID and mailid=@mailID
				
	if ( @target = @characterID) and ( @wasRead = 0 )
	begin
	
		-- set wasread in my inbox
		update cmails set wasread=1 where owner=@characterID and mailid=@mailID
		select @sender, @sourceID
	
		if not @sourceID is NULL
		begin
			--set wasread in source mail in the outbox of the sender 
			update cmails set wasread=1 where owner=@sender and mailid=@sourceID
		end
		
	end
	else	
	begin
		
		select 0, 0
		
	end

returnMail:
	-- return mail
	select sender,[subject],body,[type],creation,wasread,sourceid,folder,target from cmails where owner=@characterID and mailid=@mailID 
		
	
	RETURN


GO
