USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[marketAddAllItemsDev]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[marketAddAllItemsDev] 
	-- Add the parameters for the stored procedure here
	@marketEID bigint
	
AS
BEGIN
	SET NOCOUNT ON;

	
-- add stuff to market
DECLARE @def INT


		DECLARE TableCursor CURSOR FOR
				SELECT definition FROM dbo.entitydefaults WHERE purchasable=1 AND [enabled]=1
		OPEN TableCursor
				
		FETCH NEXT FROM TableCursor INTO @def
		WHILE @@FETCH_STATUS = 0
		BEGIN

		INSERT dbo.marketitems
				( marketeid , itemdefinition , submittereid , duration , isSell , price , quantity , isvendoritem)     
				        
		VALUES  ( @marketEID , -- marketeid - bigint
					@def , -- itemdefinition - int
					1562 , -- submittereid - bigint
					0 , -- duration - int
					1 , -- isSell - bit
					1.0 , -- price - float
					-1 , -- quantity - int
					1  -- isvendoritem - bit
				)		

		FETCH NEXT FROM TableCursor INTO @def
		END
		CLOSE TableCursor
		DEALLOCATE TableCursor



END
GO
