USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[standingReimburseFromLog]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[standingReimburseFromLog] 
	
	@id int 
	
AS
BEGIN
	BEGIN TRANSACTION
	
	SET NOCOUNT ON;

    DECLARE @allianceEid BIGINT, @change FLOAT, @characterID INT, @characterEID BIGINT, @correction FLOAT, @actual FLOAT, @missionID INT

	SELECT @allianceEid=allianceeid,@change=change,@characterID=characterid,@missionID=missionid FROM dbo.standinglog WHERE id=@id

	SET @correction = @change * -1;
	SET @characterEID = (SELECT rooteid FROM dbo.characters WHERE characterID=@characterID)

	UPDATE dbo.standings SET standing=standing+@correction WHERE [source]=@allianceEid AND [target]=@characterEID

	SET @actual= (SELECT TOP 1 standing FROM dbo.standings WHERE [source]=@allianceEid AND [target]=@characterEID)

	INSERT dbo.standinglog
	        ( characterid ,
	          actual ,
	          change ,
	          allianceeid ,
	          missionid
	        )
	VALUES  ( @characterID , -- characterid - int
	          @actual , -- actual - float
	          @correction , -- change - float
	          @allianceEid , -- allianceeid - bigint
	          @missionID  -- missionid - int
	        )
	
	SELECT @@ROWCOUNT
	COMMIT
END
GO
