USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[itemscore_write]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[itemscore_write]
	
	@definition int,
	@score int

AS
BEGIN
	SET NOCOUNT ON;
		
	if exists (select definition from itemscore WHERE definition=@definition)
		begin
			update itemscore set score=@score WHERE definition=@definition		
		end
	else
		begin
			insert itemscore (definition,score) values (@definition,@score)
		end
	
	select @@ROWCOUNT
END



GO
