USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountCreate]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[saAccountCreate] 
	@email VARCHAR(50),
	@accessLevel INT,
	@password VARCHAR(100), -- sha1 encoded by default
	@clearpassword INT=0
AS
BEGIN
	SET NOCOUNT ON;

	IF (@clearpassword=1) 
	BEGIN
	    SET @password = dbo.sha1FromVarchar(@password);
	END

	SET @password = LOWER(@password);

	DECLARE @freshAccountId INT;
	INSERT dbo.accounts ( [email] , [password], [accLevel] )
	VALUES  ( @email, @password, @accessLevel )
	SET @freshAccountId =  (select cast(scope_identity() as int));
	SELECT @freshAccountId AS [accountid];

END

GO
