USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionRemoveByAgent]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[missionRemoveByAgent] 
	@agentId int 
	
AS
BEGIN
	SET NOCOUNT ON;
CREATE TABLE #pm (id INT)
INSERT #pm ( id ) SELECT id FROM missions WHERE sourceagent=@agentId AND id NOT IN (SELECT id FROM dbo.possibleNewMissions())

DELETE dbo.missiontargetsarchive WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missionlog WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missionstartitem WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missionstandingchange WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missionrewards WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missiontoagent WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missiontargets WHERE missionid IN (SELECT id FROM #pm)
DELETE dbo.missionrequiredmissions WHERE requiredmission IN (SELECT id FROM #pm)
DELETE dbo.missions WHERE id IN (SELECT id FROM #pm)

DROP TABLE #pm

END
GO
