USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountBan]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[saAccountBan]
	@accountid INT,
	@lengthsecs INT,
	@note NVARCHAR(512)
AS
BEGIN
	SET NOCOUNT ON;
		
	IF NOT EXISTS (SELECT 1 FROM dbo.accounts WHERE accountID=@accountid)
	BEGIN
	    SELECT -1; -- account not exists
		RETURN;
	END

	UPDATE dbo.accounts SET [state]=2,[bantime]=GETDATE(),[banlength]=@lengthsecs,[bannote]=@note WHERE accountID=@accountid;

	SELECT @accountid AS [accountid];

END



GO
