USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saAccountUpdate]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[saAccountUpdate]
	@accountId INT, 
	@email VARCHAR(50) = null,
	@accessLevel INT = NULL,
	@password VARCHAR(100) = null, -- sha1 encoded by default
	@clearpassword INT=0
AS
BEGIN
	SET NOCOUNT ON;
		
	IF NOT EXISTS (SELECT 1 FROM dbo.accounts WHERE accountID=@accountid)
	BEGIN
	    SELECT -1; -- account not exists
		RETURN;
	END

	IF (@email IS NOT NULL)
	BEGIN
	    UPDATE accounts SET [email]=@email WHERE accountID=@accountid;
	END

	IF (@password IS NOT NULL)
	BEGIN
		IF (@clearpassword=1)
		BEGIN
		    set @password = dbo.sha1FromVarchar(@password);
		END
	    SET @password = LOWER(@password);
		UPDATE accounts SET [password]=@password WHERE accountID=@accountid;
	END

	IF (@accessLevel IS NOT NULL)
	BEGIN
	    UPDATE accounts SET accLevel=@accessLevel WHERE accountID=@accountid;
	END

	SELECT @accountid AS [accountid];

END



GO
