USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[reorganizeTableIndices]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[reorganizeTableIndices] 
	
AS
BEGIN
	
	SET NOCOUNT ON;


DECLARE @TableName varchar(255)
DECLARE @sqlCommand varchar(1000)

DECLARE TableCursor CURSOR FOR
SELECT table_name FROM information_schema.tables
WHERE table_type = 'base table'

OPEN TableCursor

FETCH NEXT FROM TableCursor INTO @TableName
WHILE @@FETCH_STATUS = 0
BEGIN

		SET @sqlCommand = 'ALTER INDEX ALL ON ' + @TableName + ' REORGANIZE' 
		EXEC (@sqlCommand)

		  
		select @TableName
		PRINT @TableName

		FETCH NEXT FROM TableCursor INTO @TableName
END

CLOSE TableCursor

DEALLOCATE TableCursor


  
END
GO
