USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[robotReimburse]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[robotReimburse] 
	
	
	@robotEID BIGINT,
	@comment VARCHAR(512)
	
AS
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @characterID INT, @wasinsured bit, @killedbyplayer bit, @inactiveperiod INT, @deleted DATETIME, @DCTime datetime
	
	SET @characterID = (SELECT characterid FROM characters WHERE rootEid = (SELECT owner FROM entities WHERE eid=@robotEID))
	
	
	IF (SELECT COUNT(*) FROM characters WHERE characterid=@characterID) =0
	BEGIN
		SELECT N'no character was found with this characterID'
		return
	END
		
	DECLARE @rootEID BIGINT, @baseEID BIGINT, @publicContainer BIGINT, @definition INT, @targetAccountID INT, @origDynprop VARCHAR(MAX),@noPvpKey VARCHAR(MAX)

	SET @noPvpKey = (SELECT dbo.DynpropRemoveKey(@origDynprop,'pvpRemaining'))

	SET @origDynprop = (SELECT dynprop FROM dbo.entities WHERE eid=@robotEID)

	SET @rootEID = (SELECT rootEID FROM characters WHERE characterid=@characterID)
	
	SET @baseEID = (SELECT baseeid FROM characters WHERE characterid=@characterID)
	
	SET @publicContainer = (SELECT eid FROM entities WHERE definition=166 AND parent=@baseEID)
	
	
	SELECT @DCTime=dctime,@deleted=deleted,@wasinsured=wasinsured,@killedbyplayer=killedbyplayer,@inactiveperiod=inactiveperiod FROM dbo.entitytrash WHERE eid=@robotEID
	
	UPDATE entities SET parent=@publicContainer,dynprop=@noPvpKey WHERE eid=@robotEID
	DELETE dbo.entitytrash WHERE eid=@robotEID
	
	SET @definition = (SELECT definition FROM entities WHERE eid=@robotEID)
	SET @targetAccountID = (SELECT accountid FROM characters WHERE characterid=@characterID)

	

	INSERT reimbursementlog (comment,targetaccountid,definition,characterid,wasinsured,killedbyplayer,inactiveperiod,dctime,deleted)
	VALUES (@comment, @targetAccountID, @definition, @characterID,@wasinsured,@killedbyplayer,@inactiveperiod,@DCTime,@deleted)

	SELECT N'robot returned. EID:' + CAST(@robotEID AS VARCHAR(20))
END






GO
