USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setOwner]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[setOwner] 
	(
	@newOwner bigint,
	@eid bigint,
	@setRoot INTEGER =1 --0: do not modify the root entity 1:change owner on root
	)


--  OUTDATED DE EZ EGY HIHETETLEN REMEKMU!

	
AS
	SET NOCOUNT ON
	set transaction isolation level snapshot
	begin tran;
	
	--do leaves
	with children(eid, parent, owner)
	as
	(
	SELECT eid, parent, owner FROM entities WHERE eid = @eid
	
	UNION ALL
	
SELECT C.eid, C.parent, C.owner
FROM entities AS C
JOIN children AS M
ON C.parent = M.eid 
	) 
	update entities
	set owner=@newOwner from entities as e
	join children as d 
	ON e.eid = d.eid and e.eid <> @eid
	option (MAXRECURSION 256)
	
	--do root	
	if @setRoot = 1
	begin
	 update entities set owner=@newOwner where eid=@eid
	end
		
	
	commit 
	RETURN
	
GO
