USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[saServerInfoGet]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[saServerInfoGet]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @nof INT;
	SELECT @nof=COUNT(*) FROM dbo.serverinfo;
	IF (@nof=0)
	BEGIN
	    INSERT dbo.serverinfo
	            ( [name] , [description] , [contact] , [isopen] , [isbroadcast])
	    VALUES  ( '' , '' , '' , 0 , 0 )
	END

	SELECT TOP 1 * FROM dbo.serverinfo;

END
GO
