USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_totalproduction]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_totalproduction] 
	 @fromDate datetime
AS
BEGIN
	
	SET NOCOUNT ON;

    select sum(amount) as am,definition,(select definitionname from entitydefaults where p.definition=definition) from productionlog p
    
    WHERE (p.productiontime BETWEEN @fromDate AND GETDATE())
    
     group by definition order by am desc
END
GO
