USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_probePlacement]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_probePlacement] 
	
	
AS
BEGIN
	
	SET NOCOUNT ON;
	
	--visibility probes
	SELECT ze.zoneid,',',ze.x,',',ze.y,',',dbo.GetCorporationName((SELECT owner FROM entities WHERE eid=ze.eid)) 
	FROM dbo.zoneuserentities ze 
	WHERE (SELECT definition FROM dbo.entities WHERE eid=ze.eid)=4169
    
END
GO
