USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[itemCountOnZone]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[itemCountOnZone] 
	
	@publicContainerDefinition int = 166, 
	@owner BIGINT,
	@zoneID INT
	
AS
BEGIN
	SET NOCOUNT ON;

WITH baseDefz (basedefinition)
as
(
	SELECT definition FROM dbo.getDefinitionByCategoryflag(0x178,0xffff) 
	UNION 
	SELECT definition FROM dbo.getDefinitionByCategoryflag(0x09030492,0xffffffff )
),
baseEids (baseeid)
AS
(
	SELECT eid FROM dbo.zoneentities WHERE zoneID=@zoneID
	UNION
	SELECT eid FROM dbo.zoneuserentities WHERE zoneid=@zoneID
)
SELECT * FROM 
(
	SELECT c.parent AS fteid,c.eid AS containereid,(SELECT COUNT(*) FROM dbo.entities i WHERE i.parent=c.eid AND i.owner=@owner) AS amount FROM dbo.entities b
	JOIN baseDefz ON b.definition = baseDefz.basedefinition
	JOIN baseEids ON b.eid = baseEids.baseeid
	JOIN dbo.entities c ON c.parent=b.eid
	WHERE c.definition=@publicContainerDefinition
) AS t WHERE t.amount>0
	
END

/*
regen ijen volt
SELECT c.parent AS fteid,c.eid AS containereid,COUNT(*) AS amount FROM dbo.getLiveStructureChildren(@zoneID) c 
JOIN entities i ON i.parent = c.eid and i.owner=@owner AND c.definition=@publicContainerDefinition
GROUP BY c.eid,c.parent
*/
GO
