USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[debug_enablenpcs]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[debug_enablenpcs] 
	
AS
BEGIN
	SET NOCOUNT ON;
	

UPDATE npcpresence SET enabled = 1
UPDATE npcpresence SET enabled=0 WHERE [name]='random_flock_gatherer'
update npcpresence set enabled=0 where [name]='debug_presence'
   
END
GO
