USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_hardwareinfo]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_hardwareinfo] 
	
AS
BEGIN
	SELECT COUNT(*) AS am,master.dbo.fn_varbintohexstr(CAST(pixelshader AS VARBINARY)) AS pixelshader FROM hardwareinfo GROUP BY pixelshader ORDER BY am desc
SELECT COUNT(*) AS am,master.dbo.fn_varbintohexstr(CAST(vertexshader AS VARBINARY)) AS vertexshader FROM hardwareinfo GROUP BY vertexshader ORDER BY am desc
SELECT COUNT(*) FROM hardwareinfo 


SELECT accountID,email,totalMinsOnline,lastLoggedIn,creation FROM accounts WHERE accountid IN 
(SELECT accountid FROM hardwareinfo WHERE pixelshader != 0x00000000ffff0300)


----------esetleg volt-e nekik masik/jobb gepuk?

SELECT * FROM dbo.hardwareinfo WHERE pixelshader = 0x00000000ffff0300 AND accountid in
(SELECT accountID FROM accounts WHERE accountid IN 
(SELECT accountid FROM hardwareinfo WHERE pixelshader != 0x00000000ffff0300));
 

---------osversions
SELECT COUNT(*) AS am, osversion FROM hardwareinfo GROUP BY osversion ORDER BY am DESC;

END
GO
