USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_itemStock]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_itemStock] 
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT SUM(CAST(quantity AS BIGINT)) AS summ, dbo.getDefinitionName( definition ) FROM entities GROUP BY definition   ORDER BY summ DESC

END
GO
