USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setTrialFlag]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[setTrialFlag] 
	
	@accountID int
	
AS
BEGIN
	
	
	SET NOCOUNT ON;
	  
	
	UPDATE accounts SET accLevel = (accLevel |  8388608) WHERE accountid=@accountID
	
	
END
GO
