USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setStanding]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[setStanding] 
	
	@source bigint, 
	@target bigint,
	@standing float

AS
BEGIN
	SET NOCOUNT ON;
	
	if @standing > 10
	begin
		set @standing = 10
	end

	if @standing < -10
	begin
		set @standing = -10
	end
		
	if exists (select source from standings  WITH (UPDLOCK) where source=@source and [target]=@target)
	BEGIN
		--DECLARE @s FLOAT;
		--SELECT @s = standing FROM dbo.standings WITH (UPDLOCK) where source=@source and target=@target;
		update standings set standing=@standing where source=@source and target=@target
	end
	else
	begin
		insert standings (source,[target],standing) values (@source,@target,@standing)
	end
	
END
GO
