USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[researchLevelWrite]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[researchLevelWrite] 
	
	@definition int , 
	@researchLevel int ,
	@calibrationProgram INT=NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (SELECT definition FROM dbo.itemresearchlevels WHERE definition=@definition)
	BEGIN
		UPDATE dbo.itemresearchlevels SET researchlevel=@researchLevel,calibrationprogram=@calibrationProgram WHERE definition=@definition
	end
    ELSE
	BEGIN
	INSERT dbo.itemresearchlevels
	        ( definition ,
	          researchlevel ,
	          calibrationprogram 
	        )
	VALUES  ( @definition,
	          @researchLevel,
	          @calibrationProgram
	        )
    END 
    
	select cast(scope_identity() as INT)
END
GO
