USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[startup_protectedzones]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[startup_protectedzones] 
	
AS
BEGIN
SET NOCOUNT ON;
	
exec dbo.debug_disablezones
exec dbo.debug_enablenpcs

--enabled zones

UPDATE zones SET [enabled]=1 WHERE id IN (0,1,2,6,7,8,45)

--disable debug presences
update npcpresence set enabled=0 where [name] in ( 'random_flock_gatherer','debug_presence')

END





GO
