USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[sparkPrepareSync]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sparkPrepareSync] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	--update dbo.sparks set corporationname=(select [name] from corporations c where c.eid=corporationeid) WHERE corporationeid IS NOT null    
	UPDATE dbo.sparks  SET alliancename=(SELECT [name] FROM alliances a where a.allianceeid=sparks.allianceeid) WHERE allianceeid IS NOT NULL

END
GO
