USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_missionTimes]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_missionTimes] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

   SELECT missionid,(SELECT [name] FROM missions WHERE id=missionid),characterid,dbo.GetNick(characterid) AS nick,
DATEDIFF(second,started,finished) AS seconds


 FROM missionlog WHERE missionid IN 

(SELECT id FROM dbo.missions WHERE [name] LIKE '%exp3%')
AND succeeded=1

END
GO
