USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[accountPackageList]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[accountPackageList] 
	
	@accountId int
	
AS
BEGIN
	SET NOCOUNT ON;
	    
	SELECT * FROM dbo.accountpremiumpackages WHERE accountid=@accountId
	
END
GO
