USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[UpdateNPCKills]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateNPCKills]
	@definition as int
AS
BEGIN
	SET NOCOUNT ON;

if not exists (select definition from npckills where definition = @definition)
begin
	insert into npckills (definition) values (@definition)
end
else
begin
	update npckills set amount = amount + 1 where definition = @definition
end

END

GO
