USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[getAllChildrenEids]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getAllChildrenEids] 
(
	@rootEID bigint -- the node which will be used as root
)

AS
	SET NOCOUNT ON;
	
with children(eid,parent,lvl)
	as
	(
		SELECT eid,parent, 0 FROM entities WHERE eid = @rootEID
	
		UNION ALL
	
		SELECT C.eid,C.parent, M.lvl+1	FROM entities AS C JOIN children AS M ON C.parent = M.eid 
	)
select eid from children where eid<>@rootEID 
	 
RETURN





GO
