USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[writemininglog]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[writemininglog] 
	
	@zoneid INT,
	@definition INT,
	@quantity INT,
	@eventtime DATETIME
	
AS
BEGIN
	SET NOCOUNT ON;
		
	IF EXISTS (SELECT zoneid FROM mininglog WHERE eventtime=@eventtime AND zoneid=@zoneid AND definition=@definition)
	BEGIN
		UPDATE mininglog SET amount=amount+@quantity  WHERE eventtime=@eventtime AND zoneid=@zoneid AND definition=@definition
	end
	ELSE
	BEGIN
		INSERT mininglog (zoneid,definition,amount,eventtime) VALUES (@zoneid,@definition,@quantity,@eventtime)
	END
	
    
	
END
GO
