USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[pbsDeleteTurretChildren]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pbsDeleteTurretChildren] 
	
AS
BEGIN
	SET NOCOUNT ON;

    
DECLARE @eid BIGINT, @childernCount INT, @turrets INT, @nofPre INT, @nofPost INT

SET @turrets = 0

SET @nofPre = (select COUNT(*) FROM dbo.entities)

DECLARE curz CURSOR FOR 
SELECT eid FROM dbo.entities WHERE definition in
(SELECT [definition] FROM dbo.getDefinitionByCF(0x06030492))

OPEN curz


FETCH NEXT FROM curz INTO @eid
WHILE @@FETCH_STATUS = 0
begin
	
	SET @turrets = @turrets + 1

	EXEC dbo.deleteAllChildren @rootEID = @eid
	
	FETCH NEXT FROM curz INTO @eid

END



CLOSE curz
DEALLOCATE curz

SET @nofPost = (select COUNT(*) FROM dbo.entities)

SET @childernCount = @nofPre - @nofPost

PRINT 'turrets processed: ' + CAST( @turrets AS VARCHAR(50))
PRINT 'childrend deleted: ' + CAST( @childernCount AS VARCHAR(50))


END
GO
