USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[vendorPresetDelete]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[vendorPresetDelete] 
	
	
	@presetID int
AS
BEGIN
	SET NOCOUNT ON;
		
	delete vendorpresetvalues where presetid=@presetID
	delete vendorpresets where id=@presetID
    
	
END
GO
