USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[missionAfterSync]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[missionAfterSync]

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @message VARCHAR(512)

	SET @message = 'adding helper index'
	RAISERROR( @message,0,1) WITH NOWAIT

	--helper index
	CREATE NONCLUSTERED INDEX [kukac]
	ON [dbo].[entities] ([ename])
	INCLUDE ([eid])

	SET @message = 'teleport stuff'
	RAISERROR( @message,0,1) WITH NOWAIT

	--pump eids back
	UPDATE dbo.zoneentities SET eid=(SELECT eid FROM dbo.entities e WHERE e.ename=dbo.zoneentities.ename) WHERE note='tpcol'

	UPDATE dbo.teleportdescriptions SET sourcecolumn=(SELECT eid FROM dbo.entities WHERE [ename]=sourcecolumnname) WHERE sourcecolumnname IS NOT NULL
	UPDATE dbo.teleportdescriptions SET targetcolumn=(SELECT eid FROM dbo.entities WHERE [ename]=targetcolumnname) WHERE targetcolumnname IS NOT NULL

	SET @message = 'mission stuff'
	RAISERROR( @message,0,1) WITH NOWAIT

	--note -> corpname
	update missionissuer set corporationeid=(select eid from corporations where [name]=dbo.missionissuer.corporationname)
	UPDATE missionissuer SET allianceeid=(SELECT allianceEID FROM dbo.alliances WHERE [name]= dbo.missionissuer.alliancename) 
	UPDATE missionstandingchange SET allianceeid=(SELECT allianceEID FROM alliances WHERE [name]=dbo.missionstandingchange.alliancename)
	UPDATE missionrequiredstanding SET corporationeid = (select eid from corporations where [name]=dbo.missionrequiredstanding.corporationname)
	UPDATE dbo.missionagents SET owner = (SELECT allianceeid FROM alliances WHERE [name]=dbo.missionagents.ownername)
	UPDATE dbo.missionlocations SET locationeid=(SELECT eid FROM dbo.entities WHERE [ename]=dbo.missionlocations.locationname)

	SET @message = 'mission target structure eids'
	RAISERROR( @message,0,1) WITH NOWAIT

	--ahol be van allitva a structname es fetch es mission is be van allitva az egy regi missionhoz tartozo target
	UPDATE dbo.missiontargets SET structureeid = (SELECT eid FROM dbo.entities WHERE [ename]=dbo.missiontargets.structurename) 
	WHERE structurename IS NOT NULL AND missionid IS NOT NULL AND targettype=1

	SET @message = 'dropping helper index'
	RAISERROR( @message,0,1) WITH NOWAIT	

	DROP INDEX [kukac] ON [dbo].[entities]

	SET @message = 'after sync done'
	RAISERROR( @message,0,1) WITH NOWAIT
END

GO
