USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[vendorPresetInsertToMarket]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[vendorPresetInsertToMarket] 
	
	@vendorEID bigint,
	@presetID int

AS
BEGIN
	
	SET NOCOUNT ON;
		
	declare @marketEID bigint, @baseEID bigint
	declare @marketDefinition int

	set @marketDefinition = 10 --public market
	
	set @baseEID = (select parent from entities where eid=@vendorEID)

	set @marketEID = (select eid from entities where parent=@baseEID and definition=@marketDefinition)
	
   
	insert marketitems (marketeid, itemdefinition, submittereid, duration, issell, price, quantity, isvendoritem) 
             select @marketEID, definition, @vendorEID, duration, issell, price, quantity, 1 from vendorpresetvalues where presetid=@presetID

END


GO
