USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[signIn]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[signIn] 
	
	(
	@email varchar(50),
	@password varchar(50),
	@clientType tinyint,
	@banState integer
	)
	
AS
	SET NOCOUNT ON 

	DECLARE @res_banned INT =-2;


	declare @accountID int, @accLevel int, @state int, @banTime smalldatetime, @banLength integer, @validUntil smalldatetime,
			@emailConfirmed bit, @isEarlyAccess bit, @banNote nvarchar(512)
			
	set @accountID = (select accountid from accounts where (email=@email and password=@password COLLATE latin1_general_cs_as))
	if @accountID is null
	begin
		return
	end
	
	--load data
	select	@acclevel=acclevel,
			@state=[state], 
			@banTime=bantime, 
			@banLength=banlength, 
			@validUntil=NULL, 
			@emailConfirmed=emailConfirmed,
			@isEarlyAccess=0,
			@banNote=bannote
			from accounts where accountid=@accountid

	if ((@state & @banState) > 0)
	begin
	 select @accountID,@accLevel,@state, -2, @banTime,@banLength, @validUntil, @emailConfirmed, @isEarlyAccess, @banNote
	 return
	end
	

	if (select isloggedin from accounts where accountid=@accountID) = 1
	begin
	 select @accountID,@accLevel,@state, -1, @banTime,@banLength, @validUntil, @emailConfirmed, @isEarlyAccess, @banNote
	 return
	end
	
	
	update accounts set lastloggedin=getdate(),isloggedin=1 where accountid=@accountID	
	select @accountID,@accLevel,@state, 0, @banTime, @banLength, @validUntil, @emailConfirmed, @isEarlyAccess, @banNote
	
	
	RETURN













GO
