USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[listTeleportColumns]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listTeleportColumns] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT eid,definition,owner,parent,health,ename FROM entities WHERE definition in
(SELECT definition FROM entitydefaults WHERE (categoryflags & 0x0000000000000278) = 0x0000000000000278)

END
GO
