USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[setOwnerAndReparent]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[setOwnerAndReparent] 
(
	@rootEID bigint, -- the node which will be used as root
	@newOwner bigint, -- the new owner
	@newParent bigint -- the new parent
)

	
AS
	SET NOCOUNT ON;
	
with children(eid, lvl)
	as
	(
		SELECT eid, 0 FROM entities WHERE eid = @rootEID
	
		UNION ALL
	
		SELECT C.eid, M.lvl+1 FROM entities AS C JOIN children AS M ON C.parent = M.eid 
	)

	update entities set owner=@newOwner, parent=@newParent where eid in (select eid from children where eid<>@rootEID ) option (MAXRECURSION 256);
	select eid from entities where parent=@newParent
	 
RETURN








GO
