USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_corpCEOs]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_corpCEOs] 
	
AS
BEGIN
	
	SET NOCOUNT ON;
SELECT (SELECT NAME FROM corporations c WHERE c.eid=cm.corporationEID) AS cname,memberid, (SELECT nick FROM characters WHERE characterID=cm.memberid),(SELECT email FROM accounts WHERE accountID=(SELECT accountID FROM characters WHERE characterID=cm.memberid)) FROM corporationmembers cm WHERE  (cm.[role] & 1) = 1 ORDER BY cname asc
    
END
GO
