USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_listFreeEids]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[script_listFreeEids]
	
AS
BEGIN

--run it on live 
--result to file

--file setup:
--correct last ,
-- truncate table configeids
--after run: 
-- delete configeids where eid in (select eid from entities)
-- delete configeids where eid in (select eid from zoneentities where runtime=1 and eid is not null)


DECLARE @eid BIGINT = 1, @oneLine VARCHAR(20) , @k INT =0;


WHILE (@eid < 1000000)
BEGIN
	
	IF (@k = 0)
	BEGIN
		PRINT 'INSERT dbo.configeids ( eid ) VALUES';    
	END
    

	IF NOT EXISTS (SELECT 1 FROM dbo.entities WHERE eid = @eid)
	BEGIN
		
		SET @k = @k + 1

		IF (@k > 500)
		BEGIN
			SET @oneLine = '(' + CAST(@eid AS VARCHAR(10)) + ')'
			SET @k = 0;
		END
        ELSE
		BEGIN
			 SET @oneLine = '(' + CAST(@eid AS VARCHAR(10)) + '),'   
		END
		
		PRINT @oneLine
    END
    ELSE
    BEGIN
		SET @k = @k + 1
	END
    
	
	SET @eid = @eid +1
end


END
GO
