USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecordPlasmaSold]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- Create sp to register plasma sold statistics

CREATE PROCEDURE [dbo].[sp_RecordPlasmaSold]
    @sold_on DATE,
    @plasma_type VARCHAR(50),
    @quantity BIGINT,
    @income FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE plasma_sold AS target
    USING (SELECT @sold_on AS sold_on, @plasma_type AS plasma_type) AS source
    ON target.sold_on = source.sold_on AND target.plasma_type = source.plasma_type
    WHEN MATCHED THEN
        UPDATE SET quantity = quantity + @quantity, income = income + @income
    WHEN NOT MATCHED THEN
        INSERT (sold_on, plasma_type, quantity, income)
        VALUES (@sold_on, @plasma_type, @quantity, @income);
END;

GO
