USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[getcorporationstrength]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getcorporationstrength] 
	
	@corporationEID bigint
	
AS
BEGIN


	SET NOCOUNT ON;


SELECT SUM(points) FROM accountextensionspent WHERE characterid in

(
SELECT characterid FROM characters WHERE active=1 AND characterID IN (SELECT memberid FROM corporationmembers WHERE corporationEID=@corporationEID)
)

END
GO
