USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_searchStringInData]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[script_searchStringInData]
	@searchString varchar(250)
AS
BEGIN

 
SELECT 'select ''' + TABLE_NAME + ':' + COLUMN_NAME +''' as ''Table-Column'' , * from ' + TABLE_SCHEMA + '.' + TABLE_NAME + ' where ' + COLUMN_NAME + ' like ''%'+            @searchString + '%'''
 FROM INFORMATION_SCHEMA.COLUMNS
 where DATA_TYPE in('nchar', 'nvarchar', 'varchar', 'char')


END
GO
