USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[artifactReset]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[artifactReset] 
	
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @fromDate DATETIME;
SET @fromDate= DATEADD(DAY,-3,GETDATE());
SELECT @fromDate;

DELETE dbo.artifacts WHERE created<@fromDate
 
END
GO
