USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_rebuildIdentities]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--run this script to fix/sync the identities
CREATE PROCEDURE [dbo].[script_rebuildIdentities] 
	
AS
BEGIN

	SELECT 'DBCC CHECKIDENT (' + it.Table_Name + ')' FROM information_schema.tables it WHERE  it.TABLE_TYPE = 'BASE TABLE'
	
END
GO
