USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[savePresetFromCF]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[savePresetFromCF] 

	@categoryFlag BIGINT,
	@presetID INT,
	@cfMask BIGINT
AS
BEGIN
	
	
	SET NOCOUNT ON;
insert vendorpresetvalues ( presetid,definition,issell,price,quantity,duration) 
(select @presetID, definition, 1, 10, 1,0 from dbo.entitydefaults where categoryflags & @cfMask = @categoryFlag)
    
	
END
GO
