USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[script_gotoMissionStuctures]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[script_gotoMissionStuctures] 
	@zoneId int
AS
BEGIN
	SET NOCOUNT ON;

/*
SELECT 'gotoxy' , CAST(x AS INT),CAST( y AS INT) FROM dbo.zoneentities WHERE 
zoneID = @zoneId AND
definition in
(SELECT definition FROM dbo.getDefinitionByCFString('cf_mission_structures'))
*/


 --x,y by structure
SELECT id,zoneID,definition,dbo.GetDefinitionName(definition) AS definitionname, 'gotoxy ' + CAST( CAST(x AS INT) AS VARCHAR(5)) +' '+ CAST( CAST( y AS INT) AS VARCHAR(5)) FROM dbo.zoneentities WHERE eid NOT IN
(
SELECT * FROM dbo.tutorialStructures()
)

AND
definition in
(SELECT definition FROM dbo.getDefinitionByCFString('cf_mission_structures'))
AND
zoneID=@zoneId
ORDER BY definition

END
GO
