USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[debug_disablenpcs]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[debug_disablenpcs] 
	
AS
BEGIN
	SET NOCOUNT ON;
	

UPDATE npcpresence SET enabled = 0 --ALL off
UPDATE npcpresence SET enabled = 1 WHERE presencetype=2 OR presencetype=4 --dynamic on, dynpool on
    
END
GO
