USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[report_missionAvgLength]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[report_missionAvgLength]
	
AS
BEGIN
	
	SET NOCOUNT ON;

select 
	AVG(datediff(second,started,finished)) as seconds,
	count(*) as db, 
	missionid, 
	(select [name] from missions where id=ml.missionid)
from missionlog ml where succeeded=1 group by missionid order by seconds desc



SELECT N'-----------------------------'

	
SELECT COUNT(*) AS am,(select [name] from missions where id=ml.missionid) from missionlog ml  where ml.succeeded=1 GROUP BY ml.missionID ORDER BY am desc

END

GO
