USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [opp].[artifactRefresh]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [opp].[artifactRefresh]
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @fromDate DATETIME;
	SET @fromDate= DATEADD(DAY, -7, GETDATE());
	DELETE a FROM artifacts AS a JOIN artifacttypes AS t ON t.id=a.artifacttype WHERE t.persistent=1 AND a.missionguid IS NULL AND a.created < @fromDate;
END

GO
