USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [opp].[extensionSubscriptionStart]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [opp].[extensionSubscriptionStart]
	@accountID int,
	@startTime datetime,
	@endTime datetime,
	@multiplierBonus int
as

set nocount on;

begin transaction
set xact_abort on
set transaction isolation level read committed

if exists (select * from dbo.extensionsubscription where accountid = @accountID and endTime > @startTime)
	throw 100000, 'Extension bonus already active', 1;

insert into dbo.extensionsubscription
(
	accountid,
	starttime,
	endtime,
	multiplierBonus
)
values
(
	@accountid,
	@startTime,
	@endTime,
	@multiplierBonus
)
commit transaction
GO
