USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [opp].[getExtensionSubscription]    Script Date: 11.05.2026 21:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [opp].[getExtensionSubscription]
	@accountID int
as

select top 1
	starttime,
	endtime,
	multiplierBonus
from dbo.extensionsubscription
where startTime < getdate() and endtime > getdate() and @accountID=accountid
order by endtime desc;

GO
