<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <ComponentGroup Id="PerpetuumServer2Components" Directory="INSTALLFOLDER">
		  <Component Id="PerpetuumServer2" Guid="0D6CA7B4-789B-4894-9DFA-7882AC8D21A0">
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\admincreds.json" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\appsettings.json" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Autofac.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Azure.Core.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Azure.Identity.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\localserverinfo.json" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Bcl.AsyncInterfaces.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Bcl.Cryptography.dll" />			  
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Data.SqlClient.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Data.SqlClient.SNI.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Caching.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Caching.Memory.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.Binder.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.CommandLine.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.FileExtensions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.Json.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Configuration.UserSecrets.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.DependencyInjection.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Diagnostics.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.FileProviders.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.FileProviders.Physical.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.FileSystemGlobbing.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Hosting.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Hosting.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Hosting.WindowsServices.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.Configuration.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.Console.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.Debug.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.EventLog.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Logging.EventSource.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Options.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Extensions.Primitives.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Identity.Client.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Identity.Client.Extensions.Msal.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.IdentityModel.Abstractions.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.IdentityModel.JsonWebTokens.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.IdentityModel.Logging.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.IdentityModel.Protocols.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.IdentityModel.Tokens.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.SqlServer.Server.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Microsoft.Win32.SystemEvents.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Newtonsoft.Json.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Open.Nat.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.Bootstrapper.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.ExportedTypes.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.RequestHandlers.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.ServerService2.deps.json" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.ServerService2.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.ServerService2.exe" KeyPath="yes" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\Perpetuum.ServerService2.runtimeconfig.json" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.ClientModel.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Configuration.ConfigurationManager.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Diagnostics.DiagnosticSource.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Diagnostics.EventLog.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Diagnostics.EventLog.Messages.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Drawing.Common.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.IdentityModel.Tokens.Jwt.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.IO.Pipelines.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Memory.Data.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Private.Windows.Core.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Runtime.Caching.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Security.Cryptography.Pkcs.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Security.Cryptography.ProtectedData.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.ServiceProcess.ServiceController.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Text.Encodings.Web.dll" />
			  <File Source="$(var.Perpetuum.ServerService2.TargetDir)publish\System.Text.Json.dll" />

			  <!-- Remove all files from the INSTALLFOLDER on uninstall -->
			  <RemoveFile Id="ALLFILES" Name="*.*" On="both" />

			  <!-- Tell WiX to install the Service -->
			  <ServiceInstall Id="ServiceInstaller"
							  Type="ownProcess"
							  Name="Perpetuum.ServerService2"
							  DisplayName="Perpetuum Server Service 2"
							  Description="Perpetuum Game Server v2"
							  Start="auto"
							  ErrorControl="normal" />

			  <!-- Tell WiX to start the Service -->
			  <ServiceControl Id="StartService"
							  Start="install"
							  Stop="both"
							  Remove="uninstall"
							  Name="Perpetuum.ServerService2"
							  Wait="false" />
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
